/* The container for the image and the icon */
.image-container {
  position: relative;
  display: inline-block;
}

/* Style the icon overlay */
.icon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* You can use a semi-transparent background color if desired */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hide the icon */
  transition: opacity 0.3s ease;
  border-radius: 0.75rem;
}

/* Show the icon when hovering over the image container */
.image-container:hover .icon-overlay {
  opacity: 1;
}
.custom_card {
  border: 2px solid #aaaaaa5e;
 box-shadow: 0 0 5px rgb(67 62 62 / 30%);
}

 /* Center the loader vertically and horizontally */
        .loader-container {
          z-index: 99999;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:  rgb(0 0 0 / 70%); /* Semi-transparent background */
        }

        /* Loader animation */
        .loader {
            border: 8px solid #f3f3f3; /* Light gray border */
            border-top: 8px solid #3498db; /* Blue border on top */
            border-radius: 50%; /* Create a circle */
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite; /* Spin animation */
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .css-1nmdiq5-menu{
          z-index: 999999 !important;
        }
        tags.tagify{
          width: 100% !important;
          border-radius: 3px !important;
        }
     .css-13cymwt-control {
          border-style: hidden !important;
      }