.loginFormSection {
  background-color: #fff;
  background-image: url(https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg);
  background-size: cover;
  background-image: linear-gradient(135deg, #f6f9ff 0%, #d6e6ff 100%);
}
.loginFormSection .loginFormWrapper .card {
  border-radius: 14px !important;
  box-shadow: 0 0.375rem 1rem 0 rgba(58, 53, 65, 0.22) !important;
}
.loginFormSection .loginFormWrapper .card .card-body h4 {
  font-weight: 700 !important;
  color: #000 !important;
}
.loginFormSection .loginFormWrapper .card .card-body p {
  color: #000 !important;
}
.loginFormSection .loginFormWrapper .card .card-body .btn-login {
  border-radius: 4px;
  padding: 12px 0px;
  font-weight: 700;
}
.loginFormSection .loginFormWrapper .card .card-body #formAuthentication .formOutline {
  border: 1px solid #9055fd !important;
  border-radius: 8px;
}

#layout-menu {
  box-shadow: 0 0.375rem 1rem 0 rgba(58, 53, 65, 0.12);
  border-right: 0.5px solid #9055fd;
}
#layout-menu .app-brand {
  border-bottom: 1px solid #e8e8e8 !important;
  padding: 0px 17px;
}
#layout-menu .menu-inner .menu-item {
  border-bottom: 1px solid #e8e8e8 !important;
}

.breadcrumWrapper {
  font-size: 12px;
  font-weight: 500 !important;
  color: #000 !important;
}
.breadcrumWrapper .brreadCrumText {
  font-size: 12px;
  font-weight: 500 !important;
  color: #000 !important;
}

.headerBorderBottom {
  border-bottom: 1px solid #9055fd;
  padding-bottom: 3px;
}

@media only screen and (min-width: 280px) and (max-width: 1200px) {
  #layout-menu.resMenu {
    width: 16.25rem !important;
    left: 16.25rem !important;
    z-index: 99999999 !important;
    position: relative !important;
  }
}
.menu-link::before {
  background: #9055fd;
}

.card-header:first-child {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.form-floating {
  background-color: transparent;
}
.form-floating .form-control {
  height: calc(2.6rem + var(--bs-border-width) * 2) !important;
  min-height: calc(2.6rem + var(--bs-border-width) * 2) !important;
  padding-top: 12px !important;
  font-size: 12px;
  border: 1px solid #e6e3e3;
}
.form-floating select.form-select {
  height: calc(2.6rem + var(--bs-border-width) * 2) !important;
  min-height: calc(2.6rem + var(--bs-border-width) * 2) !important;
  padding-top: 12px !important;
  font-size: 12px;
  border: 1px solid #e6e3e3;
}
.form-floating label {
  font-size: 12px;
}
.form-floating .react-datepicker-wrapper {
  width: 100%;
}
.form-floating .react-datepicker-wrapper + label {
  display: none;
}
.form-floating .react-datepicker-wrapper input {
  border-right: 0px;
}
.form-floating .react-datepicker__tab-loop + label {
  display: none;
}

.card-body form span.input-group-text {
  border: 1px solid #e6e3e3;
}

.form-floating.form-floating-outline > div.form-control:not(:-moz-placeholder-shown) {
  padding-top: 4px !important;
  min-height: 46px !important;
  height: 46px !important;
}

.form-floating.form-floating-outline > div.form-control:not(:-ms-input-placeholder) {
  padding-top: 4px !important;
  min-height: 46px !important;
  height: 46px !important;
}

.form-floating.form-floating-outline > div.form-control:not(:placeholder-shown) {
  padding-top: 4px !important;
  min-height: 46px !important;
  height: 46px !important;
}

.layout-wrapper:not(.layout-horizontal) .menu-vertical .menu-sub .menu-link {
  font-size: 12px;
}

.menu-vertical .menu-item .menu-link > div:not(.badge) {
  padding-left: 9px;
  font-size: 14px;
}

.dark-style .loginFormSection .loginFormWrapper .card .card-body h4, .dark-style .loginFormSection .loginFormWrapper .card .card-body p {
  color: #fff !important;
}
.dark-style .form-floating > .form-control:disabled ~ label::after, .dark-style .form-floating > :disabled ~ label::after {
  background-color: #312d4b !important;
  color: #fff;
}
.dark-style .form-floating > .form-control:disabled ~ label, .dark-style .form-floating > :disabled ~ label, .dark-style .form-floating > .form-select ~ label {
  color: #fff;
}
.dark-style .layout-navbar-fixed .window-scrolled .bg-navbar-theme.layout-navbar, .dark-style .layout-horizontal .bg-navbar-theme.layout-navbar {
  background-color: #312d4b !important;
}
.dark-style #layout-menu {
  background-color: #312d4b !important;
}
.dark-style #layout-menu .menu-item a {
  color: #fff;
}
.dark-style #layout-menu .app-brand-text {
  color: #fff;
}
.dark-style #layout-menu .menu-toggle-icon {
  color: #fff;
}
.dark-style .breadcrumWrapper {
  font-size: 12px;
  font-weight: 500 !important;
  color: #fff !important;
}
.dark-style .breadcrumWrapper .brreadCrumText {
  font-size: 12px;
  font-weight: 500 !important;
  color: #fff !important;
}/*# sourceMappingURL=Main.css.map */